/* GLOBAL */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
main {
  margin: 20px auto;
  text-align: center;
  width: 80%;
}
.App {
  margin: 0 10%;
}

/* NAV */
nav a {
  color: rgb(255,255,255);
  cursor: pointer;
  font-size: 20px;
  margin: 0 30px;
  padding: 6px 0;
  text-decoration: none;
}
nav a:hover {
  border-bottom: 3px solid rgb(238,194,24);
  color: rgb(238,194,24);
}
.active {
  color: rgb(238,194,24);
}
.fb-logo {
  height: 18px;
}
.navbar {
  background-color: rgb(0,53,95);
  height: 70px;
  text-align: center;
}
.nav-item {
  display: inline-block;
}
.nav-item .active {
  border-bottom: 3px solid rgb(238,194,24);
}
.nav-list {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

/* MAIN SECTION */
.post-card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 20px auto;
  padding: 10px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* HOME */
.home-call-to-action {
  display: inline;
}
#home-section {
  margin: 50px auto;
  text-align: center;
}
#pointer-up-container {
  background: 0 0;
  border: none;
  top: 20%;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  position: fixed;
  /*right: 10px;*/
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  width: 40px;
}
#pointer-up-image {
  width: 40px;
  animation: bounce 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  from {
    transform: translate3d(0,0,0);
  }
  to {
    transform: translate3d(0,-10px,0);
  }
}

/* FACEBOOK POSTS */
.expedia-logo {
  height: 48px;
}
.fb-post {
  height: 300px;
  width: 40%;
}
/* Progress loader, Credit: https://stephanwagner.me/only-css-loading-spinner */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: rgb(0,53,95);
  border-bottom-color: rgb(0,53,95);
  animation: spinner .8s ease infinite;
}

/* GOODREADS QUOTES */
.quote-post {
  height: 150px;
  width: 40%;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 414px) {
  nav a {
    font-size: 14px;
    margin: 0 10px;
  }
  .fb-logo {
    height: 16px;
  }
  .quote-post {
    height: 175px;
    width: 70%;
  }
}